body {
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
    align-items: flex-start;
    flex-direction: row;
    background-color: #000;
}

h1 {
    font-family: roboto, sans-serif;
    font-size: 1em;
}

.entire-window-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    display: flex;
    flex-direction: row;
}

.pane-container {
    display: flex;
    height: 100%;
    width:20vh;
    align-content: center;
    padding: 1.5em;
}

.left-pane-section {
    height: 91.5vh;
    max-width: 20vw;
    width: 15vw;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    padding: 2em;
    display: flex;
    flex-direction: column;
    background-color: #414246;
    flex-grow: 1;
}

.maps-container {
    height: 20vh;
    width: 20vw;
    background-color: white !important;
    color: white;
}



.dash-separator {
    border-top: 2px solid;
    border-top-color: lightblue;
    border-radius: 3px;
}

.navigation-tile {
    margin-top: 1.5em;
    position: relative;
    padding: 0.5em;
    text-align: center;
    border-color: #3498db;
    color: #2e2e31;
    box-shadow: 0 0 40px 40px #2e2e31 inset, 0 0 0 0 #2e2e31;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    border-radius: 5px;
}
.navigation-tile:hover {
    box-shadow: 0 0 10px 0 #2e2e31 inset, 0 0 10px 4px #ff7f50;
}

.logo-container {
    text-align: center;
    margin-top: 3em;
    display: flex;
    height: 10vh;
    align-items: flex-end;
    align-content: center;
}


.maps-container {
    background-color: #2e2e31;
    margin: 10px;
}

.navigation-text {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: lightblue;
}
